body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
}

/* Estilo para el encabezado */
.logo {
    background-color: #026842;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

.logo img {
    width: 150px;
    height: auto;
    transition: 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
    filter: saturate(150%);
}

header {
    position: sticky; 
    top: 0px;
    left: 0px;
    background-color: #003817;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px 20px 0px 20px;
}

header img {
    width: 100px;
    height: auto;
}

/* Estilo para la navegación */
nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav button {
    background-color: #003817;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
}

nav button:hover {
    border-radius: 20px 20px 0px 0px;
    background-color: #026842;
}

/* Estilo para el pie de página */
footer {
    background-color: #003817;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para el formulario */
footer form {
    margin: 0 auto;
    background-color: #026842;
    padding: 20px;
    box-shadow: 0 4px 8px #98ffe01a;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer fieldset {
    border: none;
    padding: 0;
}

footer legend {
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
}

footer label {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

footer textarea, footer input[type="text"], footer input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
}

footer input[type="radio"] {
    margin-right: 3px;
}

footer .calificacion {
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer input[type="submit"], footer input[type="reset"] {
    background-color: #026842;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

footer input[type="submit"]:hover {
    background-color: #029e39;
}

footer input[type="reset"]:hover {
    background-color: #9e0202;
}

footer p {
    margin-top: 20px;
    font-size: 10px;
}